<div class="table-responsive">
    {% if games %}
        {% for game in games %}
            <h4>{{ game.event_date.strftime('%Y-%m-%d %H:%M') }}</h4>
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Team</th>
                        <th>Moneyline Odds</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ game.teams.home.name }}</td>
                        <td>{{ game.teams.home.moneyline }}</td>
                        <td>{{ 'Win' if game.result.winner == game.teams.home.name else 'Loss' if game.result.winner else 'In Progress' }}</td>
                    </tr>
                    <tr>
                        <td>{{ game.teams.away.name }}</td>
                        <td>{{ game.teams.away.moneyline }}</td>
                        <td>{{ 'Win' if game.result.winner == game.teams.away.name else 'Loss' if game.result.winner else 'In Progress' }}</td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
    {% else %}
        <p>No games found.</p>
    {% endif %}
</div>
