{% extends "base.html" %}

{% block title %}Today's Games{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="text-center mb-4">
        <h1 class="display-4">{{ page_title }}</h1>
    </div>

    {% include 'sports_filter.html' %}

    {% if games %}
        {% for game in games %}
            {% include 'game_view.html' %}
        {% endfor %}
    {% else %}
        <div class="alert alert-info text-center">No games available for today.</div>
    {% endif %}
</div>


{% endblock %}
