{% extends "base.html" %}

{% block content %}
    <div class="text-center mb-4">
        <h1 class="display-4">{{ page_title }}</h1>
    </div>

    {% include 'sports_filter.html' %}

    {% if games %}
    <div class="table-responsive">
        {% for game in games %}
            {% include 'game_view.html' %}
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-info text-center" role="alert">
        No games available for the selected sport.
    </div>
    {% endif %}

{% endblock %}
